@import "tailwindcss";

/* @keyframes shimmer {
  0% {
    background-position: -200% center;
  }
  100% {
    background-position: 200% center;
  }
}

.animate-shimmer {
  animation: shimmer 3s infinite linear;
  background-size: 200% auto;
} */
